<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>我的设备</string>
			<key>onLineCount</key>
			<string>2</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>found_icons_computer@2x</string>
					<key>name</key>
					<string>我的电脑</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>无需数据线，手机轻松传文件到电脑</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>device_search@2x</string>
					<key>name</key>
					<string>搜索新设备</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>搜索附近的设备，用QQ轻松连接设备</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>手机通讯录</string>
			<key>onLineCount</key>
			<string>3</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>山西大学测试01</string>
			<key>onLineCount</key>
			<string>5</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试02</string>
			<key>onLineCount</key>
			<string>4</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试03</string>
			<key>onLineCount</key>
			<string>3</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试04</string>
			<key>onLineCount</key>
			<string>8</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试05</string>
			<key>onLineCount</key>
			<string>3</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试06</string>
			<key>onLineCount</key>
			<string>8</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试07</string>
			<key>onLineCount</key>
			<string>4</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试08</string>
			<key>onLineCount</key>
			<string>3</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试09</string>
			<key>onLineCount</key>
			<string>1</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>山西大学测试10</string>
			<key>onLineCount</key>
			<string>7</string>
			<key>members</key>
			<array>
				<dict>
					<key>icon</key>
					<string>qqstar1@2x</string>
					<key>name</key>
					<string>小明</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小明</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar2@2x</string>
					<key>name</key>
					<string>小王</string>
					<key>isOnLine</key>
					<false/>
					<key>intro</key>
					<string>哈哈哈哈，我是小王</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar3@2x</string>
					<key>name</key>
					<string>小李</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小李</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>qqstar4@2x</string>
					<key>name</key>
					<string>小张</string>
					<key>isOnLine</key>
					<true/>
					<key>intro</key>
					<string>哈哈哈哈，我是小张</string>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
