<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>好友动态</string>
			<key>icon</key>
			<string>found_icons_qzone@3x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>附近</string>
			<key>icon</key>
			<string>found_icons_location@3x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>兴趣部落</string>
			<key>icon</key>
			<string>found_icons_group_buluo@3x</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>游戏</string>
			<key>icon</key>
			<string>found_icons_gamecenter@3x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>购物</string>
			<key>icon</key>
			<string>found_icons_location_footprint@3x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>阅读</string>
			<key>icon</key>
			<string>found_icons_readcenter@2x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>音乐</string>
			<key>icon</key>
			<string>aio_icons_music@3x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>热门活动</string>
			<key>icon</key>
			<string>aio_icons_group_activity@3x</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>附近的群 </string>
			<key>icon</key>
			<string>found_icons_group_location@3x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>吃喝玩乐</string>
			<key>icon</key>
			<string>aio_icons_200002@3x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>同城服务</string>
			<key>icon</key>
			<string>aio_icons_group_app@3x</string>
		</dict>
		<dict>
			<key>title</key>
			<string>腾讯新闻</string>
			<key>icon</key>
			<string>aio_icons_share_nameplate@3x</string>
		</dict>
	</array>
</array>
</plist>
