<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Africa/Abidjan</key>
	<string>225</string>
	<key>Africa/Accra</key>
	<string>233</string>
	<key>Africa/Addis_Ababa</key>
	<string>251</string>
	<key>Africa/Algiers</key>
	<string>213</string>
	<key>Africa/Asmara</key>
	<string>291</string>
	<key>Africa/Bamako</key>
	<string>223</string>
	<key>Africa/Bangui</key>
	<string>236</string>
	<key>Africa/Banjul</key>
	<string>220</string>
	<key>Africa/Bissau</key>
	<string>245</string>
	<key>Africa/Blantyre</key>
	<string>265</string>
	<key>Africa/Brazzaville</key>
	<string>242</string>
	<key>Africa/Bujumbura</key>
	<string>257</string>
	<key>Africa/Cairo</key>
	<string>20</string>
	<key>Africa/Casablanca</key>
	<string>212</string>
	<key>Africa/Ceuta</key>
	<string>34</string>
	<key>Africa/Conakry</key>
	<string>224</string>
	<key>Africa/Dakar</key>
	<string>221</string>
	<key>Africa/Dar_es_Salaam</key>
	<string>255</string>
	<key>Africa/Djibouti</key>
	<string>253</string>
	<key>Africa/Douala</key>
	<string>237</string>
	<key>Africa/Freetown</key>
	<string>232</string>
	<key>Africa/Gaborone</key>
	<string>267</string>
	<key>Africa/Harare</key>
	<string>263</string>
	<key>Africa/Johannesburg</key>
	<string>27</string>
	<key>Africa/Juba</key>
	<string>211</string>
	<key>Africa/Kampala</key>
	<string>256</string>
	<key>Africa/Khartoum</key>
	<string>249</string>
	<key>Africa/Kigali</key>
	<string>250</string>
	<key>Africa/Kinshasa</key>
	<string>243</string>
	<key>Africa/Lagos</key>
	<string>234</string>
	<key>Africa/Libreville</key>
	<string>241</string>
	<key>Africa/Lome</key>
	<string>228</string>
	<key>Africa/Luanda</key>
	<string>244</string>
	<key>Africa/Lusaka</key>
	<string>260</string>
	<key>Africa/Malabo</key>
	<string>240</string>
	<key>Africa/Maputo</key>
	<string>258</string>
	<key>Africa/Maseru</key>
	<string>266</string>
	<key>Africa/Mbabane</key>
	<string>268</string>
	<key>Africa/Mogadishu</key>
	<string>252</string>
	<key>Africa/Monrovia</key>
	<string>231</string>
	<key>Africa/Nairobi</key>
	<string>254</string>
	<key>Africa/Ndjamena</key>
	<string>235</string>
	<key>Africa/Niamey</key>
	<string>227</string>
	<key>Africa/Nouakchott</key>
	<string>222</string>
	<key>Africa/Ouagadougou</key>
	<string>226</string>
	<key>Africa/Porto-Novo</key>
	<string>229</string>
	<key>Africa/Sao_Tome</key>
	<string>239</string>
	<key>Africa/Tripoli</key>
	<string>218</string>
	<key>Africa/Tunis</key>
	<string>216</string>
	<key>Africa/Windhoek</key>
	<string>264</string>
	<key>America/Adak</key>
	<string>1</string>
	<key>America/Anchorage</key>
	<string>1</string>
	<key>America/Anguilla</key>
	<string>1264</string>
	<key>America/Antigua</key>
	<string>1268</string>
	<key>America/Araguaina</key>
	<string>55</string>
	<key>America/Argentina/Buenos_Aires</key>
	<string>54</string>
	<key>America/Argentina/Catamarca</key>
	<string>54</string>
	<key>America/Argentina/Cordoba</key>
	<string>54</string>
	<key>America/Argentina/Jujuy</key>
	<string>54</string>
	<key>America/Argentina/La_Rioja</key>
	<string>54</string>
	<key>America/Argentina/Mendoza</key>
	<string>54</string>
	<key>America/Argentina/Rio_Gallegos</key>
	<string>54</string>
	<key>America/Argentina/Salta</key>
	<string>54</string>
	<key>America/Argentina/San_Juan</key>
	<string>54</string>
	<key>America/Argentina/San_Luis</key>
	<string>54</string>
	<key>America/Argentina/Tucuman</key>
	<string>54</string>
	<key>America/Argentina/Ushuaia</key>
	<string>54</string>
	<key>America/Aruba</key>
	<string>297</string>
	<key>America/Asuncion</key>
	<string>595</string>
	<key>America/Atikokan</key>
	<string>1</string>
	<key>America/Bahia</key>
	<string>55</string>
	<key>America/Bahia_Banderas</key>
	<string>52</string>
	<key>America/Barbados</key>
	<string>1246</string>
	<key>America/Belem</key>
	<string>55</string>
	<key>America/Belize</key>
	<string>501</string>
	<key>America/Blanc-Sablon</key>
	<string>1</string>
	<key>America/Boa_Vista</key>
	<string>55</string>
	<key>America/Bogota</key>
	<string>57</string>
	<key>America/Boise</key>
	<string>1</string>
	<key>America/Cambridge_Bay</key>
	<string>1</string>
	<key>America/Campo_Grande</key>
	<string>55</string>
	<key>America/Cancun</key>
	<string>52</string>
	<key>America/Caracas</key>
	<string>58</string>
	<key>America/Cayenne</key>
	<string>594</string>
	<key>America/Cayman</key>
	<string>1345</string>
	<key>America/Chicago</key>
	<string>1</string>
	<key>America/Chihuahua</key>
	<string>52</string>
	<key>America/Costa_Rica</key>
	<string>506</string>
	<key>America/Creston</key>
	<string>1</string>
	<key>America/Cuiaba</key>
	<string>55</string>
	<key>America/Curacao</key>
	<string>599</string>
	<key>America/Dawson</key>
	<string>1</string>
	<key>America/Dawson_Creek</key>
	<string>1</string>
	<key>America/Denver</key>
	<string>1</string>
	<key>America/Detroit</key>
	<string>1</string>
	<key>America/Dominica</key>
	<string>1767</string>
	<key>America/Edmonton</key>
	<string>1</string>
	<key>America/Eirunepe</key>
	<string>55</string>
	<key>America/El_Salvador</key>
	<string>503</string>
	<key>America/Fortaleza</key>
	<string>55</string>
	<key>America/Glace_Bay</key>
	<string>1</string>
	<key>America/Godthab</key>
	<string>299</string>
	<key>America/Goose_Bay</key>
	<string>1</string>
	<key>America/Grand_Turk</key>
	<string>1649</string>
	<key>America/Grenada</key>
	<string>1809</string>
	<key>America/Guadeloupe</key>
	<string>33</string>
	<key>America/Guatemala</key>
	<string>502</string>
	<key>America/Guayaquil</key>
	<string>593</string>
	<key>America/Guyana</key>
	<string>592</string>
	<key>America/Halifax</key>
	<string>1</string>
	<key>America/Havana</key>
	<string>53</string>
	<key>America/Hermosillo</key>
	<string>52</string>
	<key>America/Indiana/Indianapolis</key>
	<string>1</string>
	<key>America/Indiana/Knox</key>
	<string>1</string>
	<key>America/Indiana/Marengo</key>
	<string>1</string>
	<key>America/Indiana/Petersburg</key>
	<string>1</string>
	<key>America/Indiana/Tell_City</key>
	<string>1</string>
	<key>America/Indiana/Valparaiso</key>
	<string>1</string>
	<key>America/Indiana/Vevay</key>
	<string>1</string>
	<key>America/Indiana/Vincennes</key>
	<string>1</string>
	<key>America/Indiana/Winamac</key>
	<string>1</string>
	<key>America/Inuvik</key>
	<string>1</string>
	<key>America/Iqaluit</key>
	<string>1</string>
	<key>America/Jamaica</key>
	<string>1876</string>
	<key>America/Juneau</key>
	<string>1</string>
	<key>America/Kentucky/Louisville</key>
	<string>1</string>
	<key>America/Kentucky/Monticello</key>
	<string>1</string>
	<key>America/La_Paz</key>
	<string>591</string>
	<key>America/Lima</key>
	<string>51</string>
	<key>America/Los_Angeles</key>
	<string>1</string>
	<key>America/Maceio</key>
	<string>55</string>
	<key>America/Managua</key>
	<string>505</string>
	<key>America/Manaus</key>
	<string>55</string>
	<key>America/Marigot</key>
	<string>590</string>
	<key>America/Martinique</key>
	<string>33</string>
	<key>America/Matamoros</key>
	<string>52</string>
	<key>America/Mazatlan</key>
	<string>52</string>
	<key>America/Menominee</key>
	<string>1</string>
	<key>America/Merida</key>
	<string>52</string>
	<key>America/Metlakatla</key>
	<string>1</string>
	<key>America/Mexico_City</key>
	<string>52</string>
	<key>America/Miquelon</key>
	<string>33</string>
	<key>America/Moncton</key>
	<string>1</string>
	<key>America/Monterrey</key>
	<string>52</string>
	<key>America/Montevideo</key>
	<string>598</string>
	<key>America/Montreal</key>
	<string>1</string>
	<key>America/Montserrat</key>
	<string>1664</string>
	<key>America/Nassau</key>
	<string>1242</string>
	<key>America/New_York</key>
	<string>1</string>
	<key>America/Nipigon</key>
	<string>1</string>
	<key>America/Nome</key>
	<string>1</string>
	<key>America/Noronha</key>
	<string>55</string>
	<key>America/North_Dakota/Beulah</key>
	<string>1</string>
	<key>America/North_Dakota/Center</key>
	<string>1</string>
	<key>America/North_Dakota/New_Salem</key>
	<string>1</string>
	<key>America/Ojinaga</key>
	<string>52</string>
	<key>America/Panama</key>
	<string>507</string>
	<key>America/Pangnirtung</key>
	<string>1</string>
	<key>America/Paramaribo</key>
	<string>597</string>
	<key>America/Phoenix</key>
	<string>1</string>
	<key>America/Port-au-Prince</key>
	<string>509</string>
	<key>America/Port_of_Spain</key>
	<string>1809</string>
	<key>America/Porto_Velho</key>
	<string>55</string>
	<key>America/Puerto_Rico</key>
	<string>1787</string>
	<key>America/Rainy_River</key>
	<string>1</string>
	<key>America/Rankin_Inlet</key>
	<string>1</string>
	<key>America/Recife</key>
	<string>55</string>
	<key>America/Regina</key>
	<string>1</string>
	<key>America/Resolute</key>
	<string>1</string>
	<key>America/Rio_Branco</key>
	<string>55</string>
	<key>America/Santa_Isabel</key>
	<string>52</string>
	<key>America/Santarem</key>
	<string>55</string>
	<key>America/Santiago</key>
	<string>56</string>
	<key>America/Santo_Domingo</key>
	<string>1890</string>
	<key>America/Sao_Paulo</key>
	<string>55</string>
	<key>America/Shiprock</key>
	<string>1</string>
	<key>America/Sitka</key>
	<string>1</string>
	<key>America/St_Barthelemy</key>
	<string>590</string>
	<key>America/St_Johns</key>
	<string>1</string>
	<key>America/St_Kitts</key>
	<string>1869</string>
	<key>America/St_Lucia</key>
	<string>1758</string>
	<key>America/St_Thomas</key>
	<string>1340</string>
	<key>America/St_Vincent</key>
	<string>1784</string>
	<key>America/Swift_Current</key>
	<string>1</string>
	<key>America/Tegucigalpa</key>
	<string>504</string>
	<key>America/Thunder_Bay</key>
	<string>1</string>
	<key>America/Tijuana</key>
	<string>52</string>
	<key>America/Toronto</key>
	<string>1</string>
	<key>America/Tortola</key>
	<string>1284</string>
	<key>America/Vancouver</key>
	<string>1</string>
	<key>America/Whitehorse</key>
	<string>1</string>
	<key>America/Winnipeg</key>
	<string>1</string>
	<key>America/Yakutat</key>
	<string>1</string>
	<key>America/Yellowknife</key>
	<string>1</string>
	<key>Antarctica/Casey</key>
	<string>672</string>
	<key>Antarctica/Davis</key>
	<string>672</string>
	<key>Antarctica/Macquarie</key>
	<string>672</string>
	<key>Antarctica/Mawson</key>
	<string>672</string>
	<key>Asia/Aden</key>
	<string>967</string>
	<key>Asia/Almaty</key>
	<string>327</string>
	<key>Asia/Amman</key>
	<string>962</string>
	<key>Asia/Anadyr</key>
	<string>7</string>
	<key>Asia/Aqtau</key>
	<string>327</string>
	<key>Asia/Aqtobe</key>
	<string>327</string>
	<key>Asia/Ashgabat</key>
	<string>993</string>
	<key>Asia/Baghdad</key>
	<string>964</string>
	<key>Asia/Bahrain</key>
	<string>973</string>
	<key>Asia/Baku</key>
	<string>994</string>
	<key>Asia/Bangkok</key>
	<string>66</string>
	<key>Asia/Beirut</key>
	<string>961</string>
	<key>Asia/Bishkek</key>
	<string>331</string>
	<key>Asia/Brunei</key>
	<string>673</string>
	<key>Asia/Choibalsan</key>
	<string>976</string>
	<key>Asia/Chongqing</key>
	<string>86</string>
	<key>Asia/Colombo</key>
	<string>94</string>
	<key>Asia/Damascus</key>
	<string>963</string>
	<key>Asia/Dhaka</key>
	<string>880</string>
	<key>Asia/Dubai</key>
	<string>971</string>
	<key>Asia/Dushanbe</key>
	<string>992</string>
	<key>Asia/Gaza</key>
	<string>970</string>
	<key>Asia/Harbin</key>
	<string>86</string>
	<key>Asia/Hebron</key>
	<string>970</string>
	<key>Asia/Ho_Chi_Minh</key>
	<string>84</string>
	<key>Asia/Hong_Kong</key>
	<string>852</string>
	<key>Asia/Hovd</key>
	<string>976</string>
	<key>Asia/Irkutsk</key>
	<string>7</string>
	<key>Asia/Jakarta</key>
	<string>62</string>
	<key>Asia/Jayapura</key>
	<string>62</string>
	<key>Asia/Jerusalem</key>
	<string>972</string>
	<key>Asia/Kabul</key>
	<string>93</string>
	<key>Asia/Kamchatka</key>
	<string>7</string>
	<key>Asia/Karachi</key>
	<string>92</string>
	<key>Asia/Kashgar</key>
	<string>86</string>
	<key>Asia/Katmandu</key>
	<string>977</string>
	<key>Asia/Khandyga</key>
	<string>7</string>
	<key>Asia/Kolkata</key>
	<string>91</string>
	<key>Asia/Krasnoyarsk</key>
	<string>7</string>
	<key>Asia/Kuala_Lumpur</key>
	<string>60</string>
	<key>Asia/Kuching</key>
	<string>60</string>
	<key>Asia/Kuwait</key>
	<string>965</string>
	<key>Asia/Macau</key>
	<string>853</string>
	<key>Asia/Magadan</key>
	<string>7</string>
	<key>Asia/Makassar</key>
	<string>62</string>
	<key>Asia/Manila</key>
	<string>63</string>
	<key>Asia/Muscat</key>
	<string>968</string>
	<key>Asia/Nicosia</key>
	<string>357</string>
	<key>Asia/Novokuznetsk</key>
	<string>7</string>
	<key>Asia/Novosibirsk</key>
	<string>7</string>
	<key>Asia/Omsk</key>
	<string>7</string>
	<key>Asia/Oral</key>
	<string>327</string>
	<key>Asia/Phnom_Penh</key>
	<string>855</string>
	<key>Asia/Pontianak</key>
	<string>62</string>
	<key>Asia/Pyongyang</key>
	<string>850</string>
	<key>Asia/Qatar</key>
	<string>974</string>
	<key>Asia/Qyzylorda</key>
	<string>327</string>
	<key>Asia/Rangoon</key>
	<string>95</string>
	<key>Asia/Riyadh</key>
	<string>966</string>
	<key>Asia/Sakhalin</key>
	<string>7</string>
	<key>Asia/Samarkand</key>
	<string>233</string>
	<key>Asia/Seoul</key>
	<string>82</string>
	<key>Asia/Shanghai</key>
	<string>86</string>
	<key>Asia/Singapore</key>
	<string>65</string>
	<key>Asia/Taipei</key>
	<string>886</string>
	<key>Asia/Tashkent</key>
	<string>233</string>
	<key>Asia/Tbilisi</key>
	<string>995</string>
	<key>Asia/Tehran</key>
	<string>98</string>
	<key>Asia/Thimphu</key>
	<string>975</string>
	<key>Asia/Tokyo</key>
	<string>81</string>
	<key>Asia/Ulaanbaatar</key>
	<string>976</string>
	<key>Asia/Urumqi</key>
	<string>86</string>
	<key>Asia/Ust-Nera</key>
	<string>7</string>
	<key>Asia/Vientiane</key>
	<string>856</string>
	<key>Asia/Vladivostok</key>
	<string>7</string>
	<key>Asia/Yakutsk</key>
	<string>7</string>
	<key>Asia/Yekaterinburg</key>
	<string>7</string>
	<key>Asia/Yerevan</key>
	<string>374</string>
	<key>Atlantic/Azores</key>
	<string>351</string>
	<key>Atlantic/Bermuda</key>
	<string>1441</string>
	<key>Atlantic/Canary</key>
	<string>34</string>
	<key>Atlantic/Cape_Verde</key>
	<string>238</string>
	<key>Atlantic/Faroe</key>
	<string>298</string>
	<key>Atlantic/Madeira</key>
	<string>351</string>
	<key>Atlantic/Reykjavik</key>
	<string>354</string>
	<key>Atlantic/St_Helena</key>
	<string>247</string>
	<key>Atlantic/Stanley</key>
	<string>500</string>
	<key>Australia/Adelaide</key>
	<string>61</string>
	<key>Australia/Brisbane</key>
	<string>61</string>
	<key>Australia/Broken_Hill</key>
	<string>61</string>
	<key>Australia/Currie</key>
	<string>61</string>
	<key>Australia/Darwin</key>
	<string>61</string>
	<key>Australia/Eucla</key>
	<string>61</string>
	<key>Australia/Hobart</key>
	<string>61</string>
	<key>Australia/Lindeman</key>
	<string>61</string>
	<key>Australia/Lord_Howe</key>
	<string>61</string>
	<key>Australia/Melbourne</key>
	<string>61</string>
	<key>Australia/Perth</key>
	<string>61</string>
	<key>Australia/Sydney</key>
	<string>61</string>
	<key>Europe/Amsterdam</key>
	<string>31</string>
	<key>Europe/Andorra</key>
	<string>376</string>
	<key>Europe/Athens</key>
	<string>30</string>
	<key>Europe/Belgrade</key>
	<string>381</string>
	<key>Europe/Berlin</key>
	<string>49</string>
	<key>Europe/Bratislava</key>
	<string>421</string>
	<key>Europe/Brussels</key>
	<string>32</string>
	<key>Europe/Bucharest</key>
	<string>40</string>
	<key>Europe/Budapest</key>
	<string>36</string>
	<key>Europe/Busingen</key>
	<string>49</string>
	<key>Europe/Chisinau</key>
	<string>373</string>
	<key>Europe/Copenhagen</key>
	<string>45</string>
	<key>Europe/Dublin</key>
	<string>353</string>
	<key>Europe/Gibraltar</key>
	<string>350</string>
	<key>Europe/Helsinki</key>
	<string>358</string>
	<key>Europe/Istanbul</key>
	<string>90</string>
	<key>Europe/Kaliningrad</key>
	<string>7</string>
	<key>Europe/Kiev</key>
	<string>380</string>
	<key>Europe/Lisbon</key>
	<string>351</string>
	<key>Europe/Ljubljana</key>
	<string>386</string>
	<key>Europe/London</key>
	<string>44</string>
	<key>Europe/Luxembourg</key>
	<string>352</string>
	<key>Europe/Madrid</key>
	<string>34</string>
	<key>Europe/Malta</key>
	<string>356</string>
	<key>Europe/Minsk</key>
	<string>375</string>
	<key>Europe/Monaco</key>
	<string>377</string>
	<key>Europe/Moscow</key>
	<string>7</string>
	<key>Europe/Oslo</key>
	<string>47</string>
	<key>Europe/Paris</key>
	<string>33</string>
	<key>Europe/Podgorica</key>
	<string>382</string>
	<key>Europe/Prague</key>
	<string>420</string>
	<key>Europe/Riga</key>
	<string>371</string>
	<key>Europe/Rome</key>
	<string>39</string>
	<key>Europe/Samara</key>
	<string>7</string>
	<key>Europe/San_Marino</key>
	<string>378</string>
	<key>Europe/Sarajevo</key>
	<string>387</string>
	<key>Europe/Simferopol</key>
	<string>7</string>
	<key>Europe/Skopje</key>
	<string>389</string>
	<key>Europe/Sofia</key>
	<string>359</string>
	<key>Europe/Stockholm</key>
	<string>46</string>
	<key>Europe/Tallinn</key>
	<string>372</string>
	<key>Europe/Tirane</key>
	<string>355</string>
	<key>Europe/Uzhgorod</key>
	<string>380</string>
	<key>Europe/Vaduz</key>
	<string>423</string>
	<key>Europe/Vienna</key>
	<string>43</string>
	<key>Europe/Vilnius</key>
	<string>370</string>
	<key>Europe/Volgograd</key>
	<string>7</string>
	<key>Europe/Warsaw</key>
	<string>48</string>
	<key>Europe/Zagreb</key>
	<string>385</string>
	<key>Europe/Zaporozhye</key>
	<string>380</string>
	<key>Europe/Zurich</key>
	<string>41</string>
	<key>Indian/Antananarivo</key>
	<string>261</string>
	<key>Indian/Mahe</key>
	<string>248</string>
	<key>Indian/Maldives</key>
	<string>960</string>
	<key>Indian/Mauritius</key>
	<string>230</string>
	<key>Pacific/Apia</key>
	<string>685</string>
	<key>Pacific/Auckland</key>
	<string>64</string>
	<key>Pacific/Chatham</key>
	<string>64</string>
	<key>Pacific/Chuuk</key>
	<string>691</string>
	<key>Pacific/Easter</key>
	<string>56</string>
	<key>Pacific/Efate</key>
	<string>678</string>
	<key>Pacific/Enderbury</key>
	<string>686</string>
	<key>Pacific/Fakaofo</key>
	<string>690</string>
	<key>Pacific/Fiji</key>
	<string>679</string>
	<key>Pacific/Funafuti</key>
	<string>688</string>
	<key>Pacific/Galapagos</key>
	<string>593</string>
	<key>Pacific/Gambier</key>
	<string>689</string>
	<key>Pacific/Guadalcanal</key>
	<string>677</string>
	<key>Pacific/Guam</key>
	<string>1671</string>
	<key>Pacific/Honolulu</key>
	<string>1</string>
	<key>Pacific/Kiritimati</key>
	<string>686</string>
	<key>Pacific/Kosrae</key>
	<string>691</string>
	<key>Pacific/Majuro</key>
	<string>692</string>
	<key>Pacific/Marquesas</key>
	<string>689</string>
	<key>Pacific/Nauru</key>
	<string>674</string>
	<key>Pacific/Niue</key>
	<string>683</string>
	<key>Pacific/Norfolk</key>
	<string>672</string>
	<key>Pacific/Noumea</key>
	<string>687</string>
	<key>Pacific/Pago_Pago</key>
	<string>1684</string>
	<key>Pacific/Palau</key>
	<string>680</string>
	<key>Pacific/Ponape</key>
	<string>691</string>
	<key>Pacific/Port_Moresby</key>
	<string>675</string>
	<key>Pacific/Rarotonga</key>
	<string>682</string>
	<key>Pacific/Saipan</key>
	<string>1670</string>
	<key>Pacific/Tahiti</key>
	<string>689</string>
	<key>Pacific/Tarawa</key>
	<string>686</string>
	<key>Pacific/Tongatapu</key>
	<string>676</string>
	<key>Pacific/Wallis</key>
	<string>681</string>
</dict>
</plist>
